{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block blogactive %}active{% endblock blogactive %}

{% block title %}Blog{% endblock title %}

{% block content %}

	<section class="text-center">
		<div class="jumbotron container">
		    <h1 class="jumbotron-heading">Welcome to BLOGMOND</h1>
		    <a href="#">Trends <span class="badge"></span></a>
		     <a href="#">Gossip <span class="badge"></span></a>
		      <a href="#">Analytics <span class="badge"></span></a>
		       <a href="#">Facts <span class="badge"></span></a>
		</div>
	</section>
	
<!-- all posts -->
<div class="container jumbotron" style="background-color: whites;">

	<div class="row">
	
		 <!-- Search Widget -->
            <div class="card col-md-12">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <form action="{% url 'blog:index' %}" , method="GET">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" name="query" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="submit">Go!</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            
	</div>

    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="my-4">Latest posts</h1>
            <hr>

            <!-- Blog Post  this ois just some really cool func files from web net core!-->

            {% for post in posts %}
            <div class="card mb-4">
                <a href="{% url 'blog:detail' post.id %}"><img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap" width="750px" height="300px"></a>
                <div class="card-body">
                    <a href="{% url 'blog:detail' post.id %}"><h2 class="card-title" style="color:teal;">{{ post.title }}</h2></a>
                    <p class="card-text">{{ post.body|truncatewords:15 }}</p>
                    <a href="{% url 'blog:detail' post.id %}" class="btn btn-primary">Read More →</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on {{ post.pub_date }}
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

			
            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Hot Stories</h5>
                <div class="card-body">
                	<ul>
                		{% for post in all_posts %}
		            		<li>
		            			<a href="{% url 'blog:detail' post.id %}" />
		            				{{ post.title }}
		            			</a>
		            		</li>
                		{% endfor %}
                	</ul>
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->
</div>
{% endblock content %}


<div id="imgcover">
	<section class="jumbotron text-center" style="color:white; background-image:url({% static 'blog/images/blogs.jpgs' %});" id="imgcover">
		<div class="container">
		    <h1 class="jumbotron-heading">Welcome to BLOGMOND</h1>
		    
		    <p>
		    <span class="label label-default">Trends</span> 
		    <span class="label label-default">Analytics</span> 
		    <span class="label label-default">Facts</span> 
		    <span class="label label-default">Gossip</span> 
		</div>
	</section>
</div>

